.containerSkeleton {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.container {
	background-color: #000;
	padding: 24px;
	padding-bottom: 0;
}
.section {
	background-color: #dfdfdf;
	padding: 10px;
	border-radius: 20px;
}
.imageAndInformation {
	display: grid;
	grid-template-columns: 50% 50%;
	max-width: 1300px;
	margin: 0 auto;
}
.containerImage {
	width: 100%;
	min-height: 1px;
	padding: 50px 15px 0 15px;
	margin-bottom: 15px;
	flex-basis: 0;
	flex-grow: 1;
}
.containerImage img {
	width: 100%;
	margin: 40px 0;
}

.informationContainer {
	padding: 120px 0 120px 50px;

	width: 100%;
}
.title {
	margin-bottom: 10px;
	color: #111;
	font-size: 32px;
	font-weight: 500;
}
.marquee {
	background-color: #000;
	padding: 80px 0;
	color: #fff;
	font-size: 100px;
	line-height: 1.1em;
}

@media screen and (max-width: 768px) {
	.containerSkeleton {
		height: 430px;
	}
	.container {
		padding: 24px 12px 0 12px;
	}
	.section {
		margin-top: 80px;
		padding: 0 15px 30px 15px;
	}
	.imageAndInformation {
		grid-template-columns: 100%;
	}
	.containerImage {
		padding: 0;
		margin: 0;
	}
	.informationContainer {
		padding: 0;
	}
	.marquee {
		padding: 40px 0;
		font-size: 80px;
	}
}
